.main-container{
    display: flex;
    padding:20px;
    gap:20px;

}
.form-container{
    text-align: start;
    background-color: teal;
    color:white;
    height:300px;
    padding:20px;
    border-radius:10px;
}
.button{
    border:none;
    background-color: white;
    color:teal;
    padding: 10px 20px;
    border-radius: 10px;
    cursor:pinter;
}
.Delete{
    background-color:rgb(235, 237, 240);
}
.edit{
    background-color:rgb(152, 23, 23);
}
.confromationDelete{
         position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: white;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}